$color-text: #000;
$color-text-subdued: #aaa;
$color-button-border: #00F;
$color-button-background: #88F;
$color-button-text: #008;
$color-content-row-separator: #ddd;

$color-gold-background: #FFD700; // Gold
$color-gold-text: #996515; // Golden brown
$color-silver-background: #C0C0C0; // Silver
$color-silver-text: #757575; // Sonic silver
$color-bronze-background: #CD7F32; // Bronze
$color-bronze-text: #7B3F00; // Chocolate

$nav-panel-header-background-color: #ddffff;
$nav-panel-header-color: black;

$selected-background-color: blue;
$selected-color: white;
