$content-row-height: 3rem;

$icon-height: $content-row-height*2/3;
$icon-width: $content-row-height*2/3;
$icon-container-height: $content-row-height;
$icon-container-default-width: $icon-width;
$ladder-rankings-player-height: $content-row-height;
$nav-panel-header-height: $content-row-height;

$button-height: $icon-height;
$button-border-radius: 3px;
