@import 'mixins/typography';
@import 'mixins/measures';

.btn {
  border: none;
  cursor: pointer;

  &.btn-block {
    @extend .content-row;
    font-size: $btn-block-font-size;
  }

  &.btn-positive {
    background: #44ff33;

    &[disabled] {
      background: #bbffaa;
    }
  }

  &.btn-negative {
    background: #ff4433;

    &[disabled] {
      background: #ffbbaa;
    }
  }

  &.btn-inline-block {
    display: inline-block;
    height: $button-height;
    line-height: $button-height;
    border-radius: $button-border-radius;
    font-size: $btn-inline-block-font-size;
    box-shadow: 1px 1px 1px;
  }

  &.btn-delete-result,
  &.btn-close-result {
    @extend .btn.btn-inline-block;
  }
}
