@import 'mixins/measures';

.content-row {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: $content-row-height;
  line-height: $content-row-height;
  border-bottom: 1px solid transparent;
}

.content-row-with-border {
  border-bottom: 1px solid #ccc;
}

.content-row-without-border {
  border-bottom: 1px solid transparent;
}

.content-row-with-top-border {
  border-bottom: none;
  border-top: 1px solid #ccc;
}
