@import 'mixins/colors';
@import 'mixins/measures';

.ladder-rankings {
  display: table;
  width: 100%;

  .ladder-rankings-player {
    @extend .content-row;
    @extend .content-row-with-border;
    display: table-row;
    list-style: none;
    text-align: center;
  }

  .ladder-rankings-rank,
  .ladder-rankings-name,
  .ladder-rankings-score {
    display: table-cell;
    border-bottom: 1px solid $color-content-row-separator;
  }

  .ladder-rankings-rank {
    width: 3rem;
    font-size: 2em;
    font-family: Georgia, sans-serif;
    text-align: right;
    color: $color-text-subdued;

    & > .text {
      position: relative;
      top: .2rem;
    }
  }
  .ladder-rankings-score {
    width: 3rem;
    color: $color-text-subdued;
    text-align: left;
  }
}
