@import 'mixins/measures';

.nav-panel-actions {
  @extend .content-row;
  @extend .content-row-with-top-border;

  .nav-panel-actions-grid {
    display: table;
    width: 100%;
  }

  ul {
    display: table-row;
  }

  ul .nav-panel-action {
    display: table-cell;
    min-width: $icon-width;
  }
}

.nav-panel-actions .nav-panel-action {
  text-align: center;
  border-right: 1px solid #ccc;

  .app-icon::before {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: $content-row-height;
  }
}
