.result-announcement {
  @extend .content-row;
  text-align: center;

  .ra-stylewrap-winner {
    background: linear-gradient(45deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255,0) 100%);
  }
  .ra-stylewrap-loser {
    background: linear-gradient(-135deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(-135deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255,0) 100%);
  }

  .ra-stylewrap-content {
    text-align: center;
  }
}

.notice-message-announcement {
  @extend .content-row;
  text-align: center;
  background: #ddffdd;
}

.error-message-announcement {
  @extend .content-row;
  text-align: center;
  background: #ffdddd;
}
