.result-list {
  .result-list__result,
  .result-list__extended-info {
    @extend .content-row;
    @extend .content-row-with-border;
    padding-left: 1rem;
  }

  .result-list__result--open {
    @extend .content-row-without-border;
  }

  .result-list__extended-info {
    text-align: center;

    .btn:first-child {
      margin-right: 2em;
    }
  }

  .result-list__icon-more {
    margin-right: 1em;
    cursor: pointer;
  }
}
