@import 'mixins/colors';

.result-form {
  // This property should not be here. I had to add it becasue
  // build-resize-handler doesn't quite work, and I don't know why.
  // It correctly resizes things so that H_x + H_y = H_container,
  // but still it wants an extra pixel. Therefore, I just hide
  // the overflow and pretend all is ok
  overflow: hidden;

  .result-form-pickers {
    overflow: hidden;
  }

  .result-candidates {
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
  }

  .result-candidates-header {
    @extend .content-row;
    @extend .content-row-with-border;
    border-bottom-color: black;
    font-weight: bold;
  }

  .result-candidates-players {
    height: 100%;
    overflow: auto;
  }

  .result-candidates-player {
    @extend .content-row;
    @extend .content-row-with-border;
    cursor: pointer;
  }

  .sliding-selector-selected {
    background-color: $selected-background-color;
    color: $selected-color;
  }
}
