.simple-spinner {
  display: inline-block;
  position: relative;
  width: 1.3em;
  height: 1px;

  &__inside {
    display: block;
    position: absolute;
    top: -1.2em;
    width: 1em;
    height: 1em;
    border: 5px solid black;
    border-radius: 50%;
    animation: .5s ease 0s infinite alternate heartbeat;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.1);
  }
}
