{{#each _options as |opt|}}
  {{#sliding-selector/option
      tagName=eachTagName
      classNames=eachClassName
      click=(action 'updateSelection' opt.code)
      selected=opt.selected
  }}
    {{opt.label}}
  {{/sliding-selector/option}}
{{/each}}
