<div class="result-list">
  <ul>
    {{#each orderedResults as |result|}}
      <li data-result-id="{{result.id}}">
        <p class="result-list__result {{result.classNames}}">
          <span class="result-list__winner">{{result.winner.name}}</span>
          took
          <span class="result-list__transfer">{{result.transfer}}</span>
          points from
          <span class="result-list__loser">{{result.loser.name}}</span>
          <a class="app-icon app-icon-more pull-right result-list__icon-more" {{action "openResult" result}}>&hellip;</a>
        </p>
        {{#liquid-if (eq result.id openResult.id) class='expand-collapse'}}
          <p class="result-list__extended-info">
            <button class="btn btn-negative btn-delete-result" {{action "deleteResult" result}}>Delete this result{{#if (eq result.id vanishingResult.id)}} {{simple-spinner}}{{/if}}</button>
            <button class="btn btn-close-result" {{action "closeResult"}}>Close</button>
          </p>
        {{/liquid-if}}
      </li>
    {{/each}}
  </ul>
</div>
