<form class="common-form" {{action 'save' on='submit'}}>
  {{input value=player.name placeholder="Player name" name="name" classNames="common-form-input-text"}}
  <button disabled={{isInvalid}} class="btn btn-positive btn-block">Add player</button>
</form>
